.bg-imge{
    background-image: url("https://ik.imagekit.io/4z8covdo9/Food%20Store/foodmunch-banner-bg.png");
    height:500px;
    width: 1700px;
    background-repeat: no-repeat;
    background-size:contain;
}